.content {
    touch-action: pan-x pan-y;
    position: relative;
    @diff: 50px;
    height:~"calc(100% - @{diff})";
    width: 100%;
    overflow: hidden;
    flex: 1 1 0%;
    display: flex;
    transition: all 0.2s;
    .contentWarp {
        height: auto;
        width: 100%;
        flex-shrink: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.contentHidden {
    height: 100%;
}

:global {
    body {
        margin: 0px;
        padding: 0px;
    }
    .am-tab-bar {
        height: 50px;
    }
    .divider {
        margin: 14px 0 !important;
    }
    .iconfont {
        font-family: "iconfont" !important;
        font-size: 22px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale;
        line-height: 22px;
    }
}

@font-face {
    font-family: 'iconfont';
    /* project id 632473 */
    src: url('//at.alicdn.com/t/font_632473_op3n7sddbrkhjjor.eot');
    src: url('//at.alicdn.com/t/font_632473_op3n7sddbrkhjjor.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_632473_op3n7sddbrkhjjor.woff') format('woff'), url('//at.alicdn.com/t/font_632473_op3n7sddbrkhjjor.ttf') format('truetype'), url('//at.alicdn.com/t/font_632473_op3n7sddbrkhjjor.svg#iconfont') format('svg');
}
